.nav-icon {
    font-size:60px;
}

#navbar-include {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100 !important;
}

#menu-container {
    position: fixed;
    right: 0;
    height:100%;
    margin:0;
    padding:0;
}

#menu {
    overflow:scroll;
    padding-top:20%;
    height:100%;
}

#menu-row {
    height:100%;
}

#menu h3 {
    font-size: 20px;
}

.on {
    display: block;
    padding:0;
    margin:0;
}

.off {
    display: none;
    width:0;
    padding:0;
    margin:0;
}

#menu-button-container {
    margin:0;
    padding:0;
    position:absolute;
    top:40%;
    right:99.5%;
}

.menu-button-hidden {
    position:fixed;
    right:0;
}

#menu-button {
    height: 60px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#content {
    margin:0;
    padding:0;
}

.row {
    width:100%;
    margin:0;
    padding:0;
}