#article-container {
    padding:0;
    margin:0;
}

#article-img {
    width: 100%;
    position: absolute;
    top:-35%;
}

#article-img-container {
    height:40vh;
    overflow: hidden;
    position: relative;
}

#article-img-gradient {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom:0;
    z-index: 10;
    background-image: linear-gradient(to top, rgb(1000,1000,1000), rgba(1000,1000,1000,0));
}

#article-title {
    position: absolute;
    z-index: 11;
    bottom:5%;
    margin-left: 5%;
}

#article-text {
    padding-left: 5%;
    padding-bottom: 5vh;
    padding-right: 2%;
    text-align: justify;
}

#articles-side-list {
    margin-top: 20%;
}

#articles-side-list-article-image {
    position: relative;
    padding-top: 50%;
    text-align: center;
}

#articles-side-list-element {
    margin-bottom: 10px;
}