#editor-container {
    margin-top: 5vh;
}

#editor-textarea-container {
    margin-top: 5vh;
}

#editor-title {
    height: 5vh;
}

#editor-choose-file {
    width: 30%;
    margin:0;
    padding:0;
}